<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Decomposite web-page</title>
    <script src="https://use.typekit.net/uab3uxn.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script>
      <%= if assigns[:user_token] do %>
        window.userToken = "<%= assigns[:user_token] %>"
        window.userId    = "<%= assigns[:user_id] %>"
        window.userName  = "<%= current_user(@conn).name %>"
        window.userType  = "<%= user_type(@discourse, current_user(@conn).id) %>"
      <% end %>
    </script>
  </head>

  <body>
    <div class="container">
      <div id="header" class="clear">
        <ul id="actions">
          <li><%= link "back", to: discourse_path(@conn, :show, @discourse.parent_discourse_id) %></li>
          <li><strong>decomposite</strong></li>
        </ul>
        <ul id="session">
          <%= if signed_in?(@conn) do %>
            <li><%= current_user(@conn).name %></li>
            <li><%= link "Sign out", to: session_path(@conn, :delete), method: :delete %></li>
          <% else %>
            <li><%= link "Sign in", to: session_path(@conn, :new) %></li>
            <li><%= link "Sign up", to: registration_path(@conn, :new) %></li>
          <% end %>
        </ul>
      </div>

      <%= @inner %>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
