$background: #fdffe9;
$selected: #f8ffcb;

.header {
  font-family: "penna";
  margin: 20px 30px 30px 30px;

  h1 {
    font-size: 3em;
    text-align: center;
  }
}

body {
  font-family: "adobe-text-pro";
  background-color: $background;
}

textarea {
  width: 100%;
  height: 8em;
  border: 1px solid $selected;
  font-size: 2em;
}

.container {
  width: 100%;
}

#discourse {
  position: relative;
  width: 80%;
  float: left;

  .point {
    line-height: 1.8em;
  }

  .point.selected {
    background-color: $selected;
  }

  .actions {
    padding: 0 20px 0 20px;
    font-size: .8em;
    text-align: right;
  }
}

#comments {
  position: relative;
  font-size: 1em;
  width: 18%;
  float: right;

  .point-comments {
    display: none;
  }

  .point-comments.selected {
    //background-color: $selected;
  }
}
