<div id="content" class="clear"></div>
<script type="application/json" id="point-data">
  <%= raw Poison.encode!(@discourse) %>
</script>
<script type="application/json" id="comment-data">
  <%= raw Poison.encode!(visible_comments(@discourse, current_user_id(@conn))) %>
</script>
